$red: hsl(0, 100%, 74%) ;
$white: #fff;
$dark-gray: #9c9797;
$gray: #e2d7d7;
$green: hsl(154, 59%, 51%);
$green-hover:#259263;
$purple: #5d54a3;
$purple-hover: #3c3765;
$black: #000;

$h1: 2.5rem ;
$p: 1rem;
$placeholder: .7rem;
$span: .7rem;
$submit: .8rem;
$h6: .8rem;

$border-radius: .4rem;
$margin: .5rem;
$padding: .5rem;

$font: 'Poppins', sans-serif;


