.wcfmmp-product-geolocate-wrapper .wcfmmp-product-list-map{
	z-index: 0!important;
}

.elementor-menu-cart__container .widget_shopping_cart_content{
	display: flex;
    flex-direction: column;
    height: 84%;
    justify-content: space-between;
}
.elementor-menu-cart__container .widget_shopping_cart_content .elementor-menu-cart__products{
	overflow: auto;
	height: 75%;
}

.elementor-menu-cart__close-button {
	align-self: flex-start!important;
}
.store_block tr.wc-block-cart-items__row{
	width: 100%;
    display: flex;
    border-top: 1px solid gray;
    justify-content: space-between;
}
.store_block tr.wc-block-cart-items__row td:after, .store_block .wc-blocks-components-panel.has-border:after, .store_block .wc-block-components-radio-control__option:after{
    border-width: 0!important;
}

.store_block tr.wc-block-cart-items__row .wc-block-cart-item__image{
	width: 150px!important;
	
}

.store_block tr.wc-block-cart-items__row .wc-block-cart-item__product{
	width: 320px;
}
.store_block tr.wc-block-cart-items__row .wc-block-cart-item__quantity, .store_block tr.wc-block-cart-items__row .wc-block-cart-item__total{
	width: 120px;
	max-width: 120px;
}

.store_block h3{
	margin: 0;
}
.store_block{
	padding-top: 1.5rem;
}

